<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">MAXLETON</div>
        <div class="footer-links">
            <a href="#" class="footer-link">首页</a>
            <a href="<%-url_for(config.archive_dir)%>" class="footer-link">归档</a>
            <a href="<%-url_for(config.category_dir)%>" class="footer-link">分类</a>
            <a href="<%-url_for(config.tag_dir)%>" class="footer-link">标签</a>
            <a href="<%-url_for(config.about_dir)%>" class="footer-link">关于</a>
        </div>
        <div class="footer-social">
            <a href="#" class="social-icon"><i class="fab fa-github"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="copyright">© 2025 MAXLETON BLOG. All rights reserved.</div>
    </div>
</footer>