<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">MAXLETON</div>
        <div class="footer-links">
            <a href="#" class="footer-link">首页</a>
            <a href="#" class="footer-link">技术</a>
            <a href="#" class="footer-link">设计</a>
            <a href="#" class="footer-link">生活</a>
            <a href="#" class="footer-link">关于</a>
        </div>
        <div class="footer-social">
            <a href="#" class="social-icon"><i class="fab fa-github"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="copyright">© 2025 MAXLETON BLOG. All rights reserved.</div>
    </div>
</footer>