<nav class="navbar">
    <div class="nav-container">
        <a href="#" class="nav-logo">MAXLETON</a>
        <div class="nav-links">
            <a href="#" class="nav-link">首页</a>
            <a href="<%-url_for(config.archive_dir)%>" class="nav-link">归档</a>
            <a href="<%-url_for(config.category_dir)%>" class="nav-link">分类</a>
            <a href="<%-url_for(config.tag_dir)%>" class="nav-link">标签</a>
            <a href="<%-url_for(config.about_dir)%>" class="nav-link">关于</a>
        </div>
    </div>
</nav>