<nav class="navbar">
    <div class="nav-container">
        <a href="#" class="nav-logo">MAXLETON</a>
        <div class="nav-links">
            <a href="#" class="nav-link">首页</a>
            <a href="#" class="nav-link">技术</a>
            <a href="#" class="nav-link">设计</a>
            <a href="#" class="nav-link">生活</a>
            <a href="#" class="nav-link">关于</a>
        </div>
    </div>
</nav>