<nav>
    <ul>
        <li><a href="<%- url_for('/') %>">Network</a></li>
        <li><a href="<%- url_for(config.archive_dir) %>">Archives</a></li>
        <li><a href="#">Deep_Dive</a></li>
    </ul>
</nav>